footer {
  padding: 50px 20px;

  background: #14213d;

  color: white;

  text-align: center;
}

.footer-links {
  margin: 20px 0;

  display: flex;

  justify-content: center;

  gap: 25px;
}

.footer-links a:hover {
  color: #ff6b4a;
}

.modal {
  position: fixed;

  inset: 0;

  background: rgba(0, 0, 0, 0.7);

  display: flex;

  align-items: center;
  justify-content: center;

  z-index: 100;
}

.modal-content {
  position: relative;

  background: white;

  padding: 40px;

  width: 90%;
  max-width: 450px;

  border-radius: 15px;

  text-align: center;
}

.modal-content h2 {
  font-family: "Playfair Display", serif;

  font-size: 40px;
}

.modal-content h3 {
  color: #ff6b4a;

  margin: 20px;
}

.close {
  position: absolute;

  right: 15px;
  top: 10px;

  background: none !important;

  color: #14213d !important;

  border: none;

  font-size: 30px;
}
